*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#ubaceniGradovi{
    width: 210px;
    height: 500px;
    border: 4px solid black;
    padding: 12px;   
}
.cityDiv{
    display:flex ;
    justify-content: space-between;
}
.cityName{
    margin-right: 10px;
    font-size: 12px;
}
.removeButton{
    cursor: pointer;
    font-size: 18px;
    border: none;
}
main{
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    gap:15px;
    justify-content: center;
    margin-top: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#zavrsiIgru, #dodaj{
    width: 200px;
    height: 30px;
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
}
#dugmeDiv{
    display: flex;
    justify-content: end;
}
#gradoviBox{
    border: 4px solid black;
    width: 400px;
    height: 40px;
    margin-left: 0;
}
#leviDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
#results{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0;
}
#oblastVreme{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#autocomplete ul{
    border: 2px solid black;
    padding: 5px 5px;
}
#autocomplete ul li{
    list-style: none;
    border-radius: 3px;
    padding: 5px 2px;
    cursor: pointer;
}
#autocomplete ul li:hover{
    background-color: lightblue;
}
#resultMain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

#textResult{
    color: rgb(87, 170, 112);
    font-size: 15px;
}